<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/stylesheets %>
  </head>
  <body>
    <% include partials/header_navigation %>
    <div class="container">
      <a href="/users/login">LOGIN</a>
      <a href="/articles/create">CREATE ARTICLE</a>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <% locals.articles.forEach(function(article){ %>
        <h3><%= article.header %></h3>
        <p><%= article.body %></p>
      <%})%>
    </div>
    <% include partials/theme_javascripts %>
  </body>
</html>
